body
{

    width: 1350px;
    height: auto;
    background-repeat: no-repeat;
    background-image: url(../images/img-1.png);
}
#login-box
{
    width: 400px;
    height: 300px;
    margin: auto;
    background: rgba(255,255,100,0.5);
    margin-top: 100px;
    

}
body img{
    width: 200px;
    height: 200px;
    margin: auto;
    margin-top: -100px;
    margin-left: 100px;
    margin-bottom: 30px;
}

.center
{
    padding: 4px;
    margin: auto;
    border: none;
    width: 200px;
    height: 30px;
    margin-bottom: 20px;
    margin-left: 100px;
    border-radius: 4px;
}