<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/style.css">
    <title>Login</title>
</head>
<body>
    <div id="login-box">
        <img src="static/img/supaaasuge_Cyber_themed_Beautiful_sunrise_on_the_shorline_of_a__da1ed0ff-a820-4c2b-842c-e8ade44883c4cop1.png" alt="background">
        <form action="/" method="POST">
            <input type="text" class="center" name="username" placeholder="Enter Your Name" required><br>
            <input type="email" class="center" name="email" placeholder="Enter Your Email" required><br>
            <input type="submit" class="center" value="Login"><br>
        </form>
    </div>
</body>
</html>
